/* Define CSS variables */
:root {
  /* Fonts */
  --main-font: "Arial", sans-serif;
  --heading-font: "Georgia", serif;

  /* Font Sizes */
  --font-size-body: 16px;
  --font-size-heading: 36px;
  --font-size-subheading: 24px;

  /* Colors */
  --main-color: #000000;
  --secondary-color: #000000;
  --text-color: #000000;
  --background-color: #ffffff;
}



/* Generic Styles */
/* Apply the CSS variables */
body {
  font-family: var(--main-font);
  font-size: var(--font-size-body);
  color: var(--text-color);
  background-color: var(--background-color);
}

.nav-items {
  font-weight: bold;
  margin-right: 20px;
}

#collapsible-nav-dropdown {
  font-weight: bold;
  margin-right: 20px;
}

.nav-link:focus, .nav-link:hover {
  color: purple;
}

@media only screen and (max-width: 479px) {
  /* Styles for Small mobile devices here... */
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* Styles for Big mobile devices here... */
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Styles for Tablets and iPads here... */
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  /* Styles for Small Laptops or large tablets here... */
  #responsive-navbar-nav > div.me-auto.navbar-nav {
    margin-right: 490px !important;
    margin-left: 490px !important
}
}

@media only screen and (min-width: 1367px) {
  /* Styles for Big Laptops and Desktops here... */
  #responsive-navbar-nav > div.me-auto.navbar-nav {
    margin-right: 490px !important;
    margin-left: 490px !important
}

}
